*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.box{
    background-color: yellow;
    min-height: 20rem;
    width: 20rem;
    margin: 3rem;
    border: 1rem solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top:1rem solid red;
    animation: spin 0.7s linear infinite, example 3s;
    position: relative;
  
    animation-iteration-count:infinite;
}
header{
    background-color: goldenrod;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 5rem;
    text-shadow: 4px 4px grey ;
}
main{
    display:flex;
    align-items: center;
    justify-content: center;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes example{
    0%{
        top: 0;
        left: 0;
    }
    25%{
        top: 0;
        left: 300px
    }
    50%{
        top: 300px;
        left: 300px;
    }
    75%{
        top: 300px;
        left: 0;
    }
    100%{
        top:0;
        left:0;
    }
}